* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../img/school-bac.png')
}


/*PalnTime*/  /*מערכת שעות*/

.plantime h1 {
    text-align: center;
    background-color: lightgray;
    padding: 20px;
    line-height: 50px;
}

.Editplantime {
    margin-top: 174px;
    margin-left: 722px;
    color: lightsalmon;
    font-size: x-large;
    font-weight: bold;
    font-family:'Sans Serif Collection';
    line-height: 60px;
}

.Editplantime #Lasson1text {
    border: none;
    padding: 20px;
    color: gray;
    font-size: x-large;
    background-color:lightgrey;
    border-bottom: 2px solid lightcoral;
}
.Editplantime #Lasson2text {
    border: none;
    padding: 20px;
    color: gray;
    font-size: x-large;
    background-color:lightgrey;
    border-bottom: 2px solid lightcoral;
}
.Editplantime #Lasson3text {
    border: none;
    padding: 20px;
    color: gray;
    font-size: x-large;
    background-color:lightgrey;
    border-bottom: 2px solid lightcoral;
}
.Editplantime #Lasson4text {
    border: none;
    padding: 20px;
    color: gray;
    font-size: x-large;
    background-color:lightgrey;
    border-bottom: 2px solid lightcoral;
}
.Editplantime #Lasson5text {
    border: none;
    padding: 20px;
    color: gray;
    font-size: x-large;
    background-color:lightgrey;
    border-bottom: 2px solid lightcoral;
}
.Editplantime #Lasson6text {
    border: none;
    padding: 20px;
    color: gray;
    font-size: x-large;
    background-color:lightgrey;
    border-bottom: 2px solid lightcoral;
}
.Editplantime #Lasson7text {
    border: none;
    padding: 20px;
    color: gray;
    font-size: x-large;
    background-color:lightgrey;
    border-bottom: 2px solid lightcoral;
}

.Editplantime #Updatebtn {
    position: relative;
    top: 20px;
    left: 273px;
    border: none;
    padding: 20px;
    color: lightgreen;
    font-size: x-large;
    border-radius: 10px;
}
.Editplantime #Updatebtn:hover {
    background-color: lightcoral;
    transition: 0.6s ease-in-out;
}
